// .list {
//     display: grid;
//     grid-template-columns: repeat(2,1fr);
//     grid-gap: 50px;
//     width: 100%;
// }

// .item {
//     background-color: brown;
//     // width: 25rem;
//     display: flex;
//     // height: 25rem;
//     img {
//         width: 100%;
//         height: 50vh;
//         // height: 100%;
    
//         justify-content: center;;
//     }
// }
// .hero {
//     padding: 2rem 0;
// }

// .item-info {
//     flex-direction: column;
//     justify-content: center;
//     width: 70%;
//     display: flex;
// }
body {
    background-color: pink;
}

.list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // overflow: hidden;
    grid-gap: 10px;

}
// .item {
//     background-color: brown;
//     display: flex;
//     justify-content: center;
//     padding: 2rem 0;
// }
// .image {
//     width: 15rem;
//     height: 15rem;
//     img {
//         width: 100%;
//         height: 100%;
//     }
// }

.item {
    background-color: whitesmoke;
    width: 20rem;
    // height: 25rem;
    .item-info {
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 2rem 0;
        .image {
            width: 60%;
            img {
                width: 100%;
                // height: 100%;
            }
        }
        h2 {
           padding: 1rem 0; 
        }
        button {
            margin-top: 1rem;
            background-color: rgb(14, 130, 156);
            border: none;
            padding: 0.5rem 1rem;
            color: white;
        }
    }
}